# Environment Mode (development / production)
NODE_ENV=development

# Backend Server Port
PORT=4000

# Database Connection (Local MongoDB or Cloud MongoDB Atlas)
MONGODB_URI=mongodb://127.0.0.1:27017/your_database_name

# CORS Allowed Origin for Client
CLIENT_URL=http://localhost:3000

# Backend API URL for Frontend (Vite)
VITE_API_URL=http://localhost:4000

# Authentication Secret Key
JWT_SECRET=your_jwt_secret_key_here

# JWT Token Expiration
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
