# Database Connection (Local MongoDB or Cloud MongoDB Atlas)
DB_URI=mongodb://127.0.0.1:27017/your_database_name

# Backend API URL for Frontend
REACT_APP_API_URL=http://localhost:4000

# Authentication Secret Key
JWT_SECRET=your_jwt_secret_key_here
